.example-container {
  width: 400px;
  height: 100vh;
  margin: 10px;
  margin-bottom: 5%;
}
.side-nav {
  width: 400px;
  background-color: #3f51b5ff;
}
.nav-items {
  margin-top: 20px;
  margin-left: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: center;
}
.btn {
  width: 200px;
  margin-top: 15px;
}
.hero-container {
  display: flex;
}
