<div>
  <div>
    <mat-toolbar>
      <button
        type="button"
        mat-raised-button
        color="primary"
        mat-button
        (click)="opened = !opened"
      >
        Toggle sidenav
      </button>
    </mat-toolbar>
  </div>
  <div class="hero-container">
    <mat-drawer-container class="example-container">
      <mat-drawer class="side-nav" mode="side" [(opened)]="opened">
        <div class="nav-items">
          <button
            class="btn"
            type="button"
            routerLink="/Listview"
            routerLinkActive="active"
            mat-raised-button
          >
            Listview
          </button>
          <button class="btn" type="button" mat-raised-button>1</button>
          <button class="btn" type="button" mat-raised-button>2</button>
        </div>
      </mat-drawer>
    </mat-drawer-container>
    <div class="listview">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
