@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.box {
  border: 1px;
  border-color: red;
  border-style: solid;
}

.item {
  width: 100px;
  /* height: 50px; */
  background-color: #ffde49;
  margin: 10px;
  text-align: center;
}
